<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Chat App</title>
		<link rel="stylesheet" href="main.css" />
		<script
			defer
			src="http://localhost:3000/socket.io/socket.io.js"
		></script>
		<script
			defer
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
		></script>
		<script defer src="main.js"></script>
	</head>
	<body>
		<div id="room-container">
			<% rooms.forEach(room => { %>
			<div><%= room.name %></div>
			<a href="/<%= room.name %>">Join</a>
			<% }) %>
		</div>
		<form action="/room" method="POST">
			<input name="room" type="text" required />
			<button type="submit">New Room</button>
		</form>
	</body>
</html>
